.place__website {
    margin: 0px auto 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 12px;
}
@media screen and (min-width: 768px) {
    .place__website {
        margin-left: 0px;
    }
}